<a href="https://colab.research.google.com/github/Lazarokaua/chat_model_LLM/blob/main/ciencia_de_dados_atv_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercício 1 (Familiarização com Python):** ✅

In [1]:
for counter in range(5):
  print(counter)

0
1
2
3
4

In [2]:
example_dict = {'apples': 5, 'oranges': 8, 'bananas': 13}

In [3]:
dict_to_list = list(example_dict)
dict_to_list

['apples', 'oranges', 'bananas']

# Colab - Lázaro Kauã

O que estou achando da atividade até aqui:
Estou aprendendo sobre Python, Pandas e Jupyter Notebooks!  É interessante e um pouco desafiador.

**Exercício 2 (Etapa 2):**
Carregando os dados do estudo de caso com o Jupyter e o pandas.

In [12]:
import pandas as pd

df = pd.read_excel("default_of_credit_card_clients__courseware_version_1_21_19.xls")

# shape retorna (número de linhas, número de colunas)
num_de_colunas = df.shape[1]
print(f"numeros de colunas: {num_de_colunas}")

num_de_linhas = df.shape[0] # retorna numero de linhas
print(f"numeros de linhas: {num_de_linhas}")

print("Célula de código (Tipos de dados)")
print(df.dtypes)
print("==============================")

# Célula de código (Estatísticas descritivas para colunas numéricas)
print(df.describe())
print("==============================")

# Célula de código (Frequência para uma coluna categórica - exemplo)
#  Substitua 'EDUCATION' pelo nome correto de uma coluna categórica, se houver.
print(df['EDUCATION'].value_counts())
print(df['SEX'].value_counts())
print(df['MARRIAGE'].value_counts())
print(df['default payment next month'].value_counts())

print("==============================")
print("Célula de código (Dados faltantes")
print(df.isnull().sum())

# ====================================
# investigando o porque do PAY_1 esta como object
print("==============================")
print(df['PAY_1'].unique())

print("encontrei um not avaible no meio dos numeros, talvez tenha que converter o PAY_1")

numeros de colunas: 25
numeros de linhas: 30000
Célula de código (Tipos de dados)
ID                            object
LIMIT_BAL                      int64
SEX                            int64
EDUCATION                      int64
MARRIAGE                       int64
AGE                            int64
PAY_1                         object
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default payment next month     int64
dtype: object
==============================
            LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE  \
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean    165760.989333      1.586500      1.833333      1.535900     35.108800
std     130158.590432      0.513348      0.807699      0.542698      9.851592
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

              PAY_2         PAY_3         PAY_4         PAY_5         PAY_6  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      -0.132867     -0.164333     -0.219300     -0.263900     -0.288033
std        1.191215      1.191096      1.162348      1.127519      1.144981
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

       ...      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count  ...   30000.000000   30000.000000   30000.000000   30000.000000
mean   ...   42791.362167   39884.398167   38480.350933    5613.321500
std    ...   64090.316188   60606.644833   59406.836932   16539.094312
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2034.000000    1534.000000    1080.000000     836.000000
50%    ...   18759.500000   17835.500000   16643.000000    2084.500000
75%    ...   53572.250000   49804.000000   48863.500000    5000.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

           PAY_AMT2       PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  3.000000e+04   30000.000000   30000.000000   30000.000000
mean   5.855410e+03    5174.387967    4776.089733    4754.749200
std    2.299256e+04   17565.538305   15532.893047   15239.070708
min    0.000000e+00       0.000000       0.000000       0.000000
25%    7.217500e+02     371.000000     223.000000     170.750000
50%    2.000000e+03    1776.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4000.000000    4000.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

            PAY_AMT6  default payment next month
count   30000.000000                30000.000000
mean     5164.223267                    0.218733
std     17712.664703                    0.413394
min         0.000000                    0.000000
25%         9.000000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

[8 rows x 23 columns]
==============================
EDUCATION
2    13884
1    10474
3     4867
0      329
5      275
4      122
6       49
Name: count, dtype: int64
SEX
2    17910
1    11775
0      315
Name: count, dtype: int64
MARRIAGE
2    15810
1    13503
0      369
3      318
Name: count, dtype: int64
default payment next month
0    23438
1     6562
Name: count, dtype: int64
==============================
Célula de código (Dados faltantes
ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_1                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64
==============================
[2 -1 0 -2 1 'Not available' 3 4 8 7 5 6]
encontrei um not avaible no meio dos numeros, talvez tenha que converter o PAY_1